/* CSS declarations go here */

.local-video {
	background-color: #eee;
	width: 100%;
}

.remote-video {
	background-color: #eee;
	width: 100%;
}

#step1-error, #step3, .call-button {
  display: none;
}
